.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.container {
    padding: 15px 15px;
}

.title {
    color: grey;
    font-size: 18px;
}

h2 {
	color: #2A314E
}

